@page "/q6"
@using Desafio.RedService.Presentation.Blazor.Site.Entities;
@using Desafio.RedService.Presentation.Blazor.Site.Interfaces;
@inject IViaCepService ViaCepService;

<PageTitle>Questão 6</PageTitle>
<h1>Questão 6</h1>


<div class="columns mt-xl-5">
    <div class="column">
        <label class="label">CEP</label>
        <div class="field has-addons">

            <p class="control is-expanded">
                <InputText @bind-Value="cepDigitado" class="input" placeholder="00000-000" />
                <div class="is-danger field">
                </div>
            </p>


            <p class="control">
                <button class="button is-info" @onclick="() =>BuscarCep(cepDigitado)">Buscar CEP</button>
            </p>


        </div>
    </div>
</div>
@if (item != null)
{
    <div class="columns">

        <div class="column">

            <div class="field">
                <label class="label">Logradouro</label>
                <div class="control">

                    <InputText @bind-Value="item.Logradouro" class="input" disabled />
                    <div class="is-danger">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="columns">

        <div class="column">
            <div class="field">
                <label class="label">Bairro</label>
                <div class="control">
                    <InputText @bind-Value="item.Bairro" class="input" disabled />
                    <div class="field is-danger">
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Cidade</label>
                <div class="control">
                    <InputText @bind-Value="item.Localidade" class="input" disabled />
                    <div class="field is-danger">
                    </div>
                </div>
            </div>

        </div>

        <div class="column">
            <div class="field">
                <label class="label">Estado</label>
                <div class="control">
                    <InputText @bind-Value="item.Uf" class="input" disabled />
                    <div class="field is-danger">
                    </div>
                </div>
            </div>
        </div>
    </div>


}




@code {

    string cepDigitado = "";
    public ViaCepModel item;

    public async Task BuscarCep(string cep)
    {
        ViaCepModel viaCep = await ViaCepService.ObterPorCep(cep);
        item = viaCep;
    }

}

